<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Login | DanyBot</title>
<link rel="stylesheet" type="text/css" th:href="@{/lib/css/paper-white/error.css}">
</head>
<body>
	<div class="body-wrapper">
		<div class="center-content">
			<div class="error-content">
				<div class="cover">
					<h1>
						Webservice currently unavailable! <small th:if="${errorcode}">Error
							: <small th:text="${errorcode}"></small>
						</small>
					</h1>
					<p class="lead">
						We&#39;ve got some trouble with our backend upstream cluster.<br />Our
						micro service has been dispatched to bring it back online. <br />
						Thank you for your patience.
					</p>
				</div>
				<footer>
					<p>
						Technical Contact: <a href="mailto:x@example.com">d.balaji.mc@gmail.com</a>
					</p>
				</footer>
			</div>
		</div>
	</div>
</body>
</html>