<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Login | DanyBot</title>
<link rel="stylesheet" type="text/css" th:href="@{/lib/css/paper-white/login.css}"></link>
</head>
<body>
	<div class="body-wrapper">
		<div class="center-content">
			<div class="login-content">
				<div class="main-content">
					<form th:action=@{/login} method=post >
					<div class="text-field component-wrapper">
						<label class="log-label">Log in</label>
					</div>
					<div class="text-field component-wrapper">
						<label class="text-field-lable" for="text-field-user-id">User Id</label>
						<input class="text-field-input" id="text-field-user-id" type="text" name="username">
					</div>
					<div class="text-field component-wrapper">
						<label class="text-field-lable" for="text-field-password">Password</label>
						<input class="text-field-input" id="text-field-password" type="password" name="password">
					</div>
					<div class="button-field component-wrapper">
						<button type="submit" class="button-field-input">
							Log in
						</button>
					</div>
					</form>
				</div>
				<div class="sign-up">
					<label class="sign-up-label">Don't have an account? <a href="#">Sign Up</a></label>
				</div>
			</div>
			<div class="copy-rights"></div>
		</div>
	</div>
</body>
</html>